
# Environment files
.env
.env.*
!.env.example

# Node modules
backend/node_modules/
frontend/node_modules/

# Logs
*.log

# Kubernetes secrets
kubernetes/*-secret.yaml

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*